.header{
  width: 100vw;
  height: 12.5rem;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-700);
}

.header img{
  width: 7.8rem;
  height: 100%;
}