.header{
  width: 100vw;
  height: 20rem;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-700);
}

.header img{
  width: 15.75rem;
  height: 100%;
}